<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
		
		<!-- header area end -->
		<!-- start home slider -->
        <div class="slider-area an-1 hm-1 clr">
			<!-- slider -->
		   <div class="bend niceties preview-2">
			   <div id="ensign-nivoslider" class="slides">	
				   <img src="img/slider/home-5/slider5-1.jpg" alt="" title="#slider-direction-1"  />
				   <img src="img/slider/home-5/slider5-2.jpg" alt="" title="#slider-direction-2"  />
			   </div>
			   <!-- direction 1 -->
			   <div id="slider-direction-1" class="t-cn slider-direction">
				   <div class="slider-progress"></div>
				   <div class="slider-content t-lfl lft-pr s-tb slider-1">
					   <div class="title-container s-tb-c title-compress">
						   <h3 class="title2 low-f" > Collection 2020</h3>
						   <h4 class="title2" >FALL-WINTER</h4>
						   <a class="btn-title"  href="/shop">View collection</a>
					   </div>
				   </div>	
			   </div>
			   <!-- direction 2 -->
			   <div id="slider-direction-2" class="slider-direction">
				   <div class="slider-progress"></div>
				   <div class="slider-content t-cn s-tb slider-2">
					   <div class="title-container s-tb-c">
						   <h3 class="title2" >Collection 2020</h3>
						   <h4 class="title2" >FALL-SUMMER</h4>
						   <a class="btn-title" href="/shop">View collection</a>
					   </div>
				   </div>	
			   </div>
		   </div>
		   <!-- slider end-->
	   </div>
	   <!-- end home slider -->
		<div class="container">
			<div class="area-title">
				<h2>Our products</h2>
			</div>
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<a href="/bags"><img  src="img/products/product-11.jpg" alt="" /></a>
					<div class="product-content">
						<!-- Title -->
							<h2 class="product-name"><a href="#">Usa</a></h2>
							<!-- Description -->
							<p>my name is khan</p>
					</div>

				</div>

				<div class="col-lg-4 col-md-6">
					<a href="/bags"><img class="primary-image" src="img/products/product-11.jpg" alt="" /></a>
					<div class="product-content">
						<!-- Title -->
							<h2 class="product-name"><a href="#">Usa</a></h2>
							<!-- Description -->
							<p>my name is khan</p>
					</div>


				</div>
				<div class="col-lg-4 col-md-6">
					<a href="/bags"><img  src="img/products/product-11.jpg" alt="" /></a>
					<div class="product-content">
						<!-- Title -->
							<h2 class="product-name"><a href="#">Usa</a></h2>
							<!-- Description -->
							<p>my name is khan</p>
					</div>

				</div>


			</div>

		</div>
		
		<!-- product section end -->



		<div style="margin: 2% 0 10% ;"></div>
		<%- include('includes/footer.ejs') %>